html {
	min-height: 100%;
	position: relative;
}
body {
	margin: 0;
	margin-bottom: 40px;
}

/* Footer */

footer {
	position: absolute;
	margin-top:50;
  bottom: 0;
  width: 100%;
  height: 40px;
	color: white;
  margin-bottom: 0;
}


#footer {
	background-color:#2673b9;
}
  
#footer p {
  color:white;
  font-weight: bold;
}

.margen-inf {
  margin-bottom: 20px;
}

/* Fin Footer */


/* Login */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Fin Login */


.extra-margins {
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}

.jumbotron {
	text-align: center;
}

.nav-link {
  color: #fff;
  font-weight: bold;
}

.nav-item {
  color: #fff;
}

.nav-link-carrera {
  color: rgb(0, 123, 255);
  font-weight: bold;
}


.navbar .btn-group .dropdown-menu a:hover {
	color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
	color: #fff !important;
}

.sombreado {
	box-shadow: 10px 10px 5px grey;
	border-style: ridge;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	background-color: #abb2b9;
	color:#eeeefe;
}


.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}
.pointer {
  cursor: pointer;
}

.align-items-center {
      -ms-flex-align: center!important;
      align-items: center!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.bg-escuela {
  background-color: #2673b9;
} 

.navbar-escuela {
  background-color: #2673b9;
} 

.thead-escuela {
  background-color: #1699DD;
}



/* cards admin*/

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   margin-top: 10px;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}