

<IfModule mod_rewrite.c>
    RewriteEngine On 
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteRule ^(.*)$ /eing/index.php/$1 [L] 
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /eing/index.php 
</IfModule>

<IfModule mod_php5.c>
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
